<app-header titulo="Card"></app-header>


<ion-content padding>
    <ion-card mode="ios" color="primary">

      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-item color="primary">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam autem beatae doloremque nihil, mollitia ratione earum nulla, consequuntur exercitationem neque eum harum excepturi natus eaque? Nulla consectetur iure sit praesentium.  
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>
    </ion-card>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, voluptatem aliquam porro itaque sequi sed asperiores deserunt laudantium? Ad quis quisquam deleniti soluta magnam dolorem ratione in vitae suscipit autem.
    </ion-card-content>
</ion-content>
